%header
  %h1
    Ask for technical help
  %h2
    Please note: we cannot offer legal advice.

= render partial: 'shared/flash'
= render partial: 'shared/error_messages'

%section
  %p Enter your name, telephone number and a brief description of what you need help with. We'll get back to you during the next working day between 9am and 5pm.

  %p We’ll only use your details to call you back. Don’t include any personal information, for example address or date of birth.


  = form_for @user_callback, url: user_callback_request_path, html: { novalidate: 'novalidate' }, builder: LabellingFormBuilder do |f|
    .moj-panel
      = f.text_field_row :name, label: 'Name'
      .row
      = f.text_field_row :phone, label: 'Telephone number', class: 'rel'
      = f.text_area_row :description, label: "Describe what you'd like to talk about"

    .action-buttons.cf
      = f.submit 'Send', :class => 'button button-primary large chevron left', :id => 'submit-button'
