%header
  %h1
    Ask for technical help
  %h3
    Please note: we cannot offer legal advice.

= render partial: 'shared/flash'
= render partial: 'shared/error_messages'

%section
  %p Enter your name, telephone number and a brief description of what you need help with. We'll get back to you during the next working day between 9am and 5pm.

  %p We’ll only use your details to call you back. Don’t include any personal information, for example address or date of birth.

  = form_for @user_callback, url: user_callback_request_path, html: { novalidate: 'novalidate' }, builder: LabellingFormBuilder do |f|
    = f.text_field_row :name, label: 'Name'
    = f.text_field_row :phone, label: 'Telephone number', class: 'rel'
    = f.text_area_row :description, label: "Describe what you'd like to talk about"

    = f.submit 'Send', class: 'button button-get-started', id: 'submit-button'
