= claim_form.fields_for claimant_field, claimant_contact, builder: LabellingFormBuilder do |form|
  .sub-panel.claimant-solicitor.js-claimanttype.individual.organization
    .sub-panel.details
      .row.js-only
        %a.caption#contact-details{ href: '#contact-details' }
          = 'Add phone and email'
        %span.hint (Optional)

      = form.text_field_row :email, label: add_optional('Email'), class: 'rel email'
      = form.text_field_row :phone, label: add_optional('Phone'), class: 'rel phone'
      = form.text_field_row :fax, label: add_optional('Fax'), class: 'rel fax'
      = form.text_field_row :dx_number, label: add_optional('DX number'), class: 'rel dx_number'
    .row
      If you want us to send correspondence about the case to a different address, enter it here.
      %span.hint.block.js-claimanttype.individual.js-only
        eg a legal representative's address (Optional)
      %span.hint.block.js-claimanttype.organization
        eg a legal representative or managing agent's address (Optional)

    .sub-panel.details
      .row.js-only
        %a.caption#correspondence-address{ href: '#correspondence-address' }
          = 'Add alternative address'.html_safe
        %span.hint (Optional)
      = form.text_field_row :title, label: add_optional_nonjs('Title'),    class: 'rel title', input_class: 'smalltext'
      = form.text_field_row :full_name, label: add_optional_nonjs('Full name'), class: 'rel '
      = form.text_field_row :company_name, label: add_optional_nonjs('Company name'),  class: 'rel company_name'
      = form.moj_postcode_picker 'claimant_contact'
      = address_error_message('claimant_contact')
     
    .sub-panel.details.js-claimanttype.organization
      .row.js-only
        %a.caption#reference-number{ href: '#reference-number' }
          = 'Add a reference number'
        %span.hint (Optional)
      = render partial: 'reference_number', object: @claim.reference_number, locals: { claim_form: claim_form }
