= claim_form.fields_for claimant_field, claimant_contact, builder: LabellingFormBuilder do |form|
  .row.full
    = 'Correspondence address of claimant or solicitor <strong>if different from above</strong>'.html_safe
  .sub-panel.extra
    = form.text_field_row :title,    class: ''
    = form.text_field_row :full_name, class: ''
    = form.text_area_row  :street,   class: 'street'
    = form.text_field_row :town,     class: 'town'
    = form.text_field_row :postcode, class: 'postcode', input_class: 'smalltext'
  .row.full
    = 'Contact details (optional)'
  .sub-panel.extra
    = form.text_field_row :email, class: 'email'
    = form.text_field_row :phone, class: 'phone'
    = form.text_field_row :fax, class: 'fax'
    = form.text_field_row :dx_number, class: 'dx_number'
    = form.text_field_row :reference_number, class: 'reference_number'
  .sub-panel.extra
    = 'If you are a <strong>solicitor</strong> acting on behalf'.html_safe
    = form.text_field_row :legal_costs, class: 'legal_costs'

