= claim_form.fields_for claimant_field, claimant_contact, builder: LabellingFormBuilder do |form|
  .sub-panel.claimant-solicitor
    .row.js-only
      Add further details of claimant or claimant's solicitor
      %span.hint (optional)
    .sub-panel.details
      .row.caption
        = 'Correspondence address if different from above'.html_safe
      = form.text_field_row :title,    class: 'rel title', input_class: 'smalltext'
      = form.text_field_row :full_name, class: 'rel '
      = form.text_field_row :company_name,  class: 'rel company_name'
      = form.text_area_row  :street,   label: 'Street address', class: 'rel street'
      = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'
    .sub-panel.details
      .row.caption
        = 'Contact details such as phone and email'.html_safe
      = form.text_field_row :email, class: 'rel email'
      = form.text_field_row :phone, class: 'rel phone'
      = form.text_field_row :fax, class: 'rel fax'
      = form.text_field_row :dx_number, label: 'DX number', class: 'rel dx_number'
