= claim_form.fields_for claimant_field, claimant, builder: LabellingFormBuilder do |form|
  = form.text_field_row :title,    class: 'title', input_class: 'smalltext'
  = form.text_field_row :full_name, class: 'rel'
  .sub-panel.rel.address
    = form.text_area_row  :street,   label: 'Full address', class: 'rel street'
    = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'

