= claim_form.fields_for defendant_field, defendant, builder: LabellingFormBuilder do |form|
  = form.text_field_row :title, class: 'title', input_class: 'smalltext'
  = form.text_field_row :full_name, class: 'rel'
  .sub-panel.extra.address
    .row.full
      Defendant's address if they're <strong>not</strong> living in the property
    = form.text_area_row  :street,   label: 'Street address', class: 'rel street'
    = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'
