.sub-panel{ id: "defendant_#{defendant_id}_subpanel", class: defendant_class_helper(defendant_id) }
  .row.divider
  .row
    %h3= defendant_header defendant_id

  = claim_form.fields_for defendant_field, defendant, builder: LabellingFormBuilder do |form|
    = form.text_field_row :title, class: 'title', input_class: 'smalltext'
    = form.text_field_row :full_name, class: 'rel'

    = form.radio_button_fieldset :inhabits_property,
      'Does the defendant live in the property?',
      class: 'radio inline js-depend',
      data: { depend: "inhabitproperty_#{defendant_field}" }

    .sub-panel.extra.address.hide.no{ class: 'js-inhabitproperty_' + defendant_field.to_s }
      .row.nonjs
        Defendant’s address if they’re <strong>not</strong> living in the property
      = form.text_area_row  :street,   label: 'Full address', class: 'rel street'
      = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'
