= claim_form.fields_for deposit, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :received, 'Did you receive a money deposit on or after 6 April 2007?', class: 'striped-choice full js-depend', :data => { :depend => 'money-deposit', :show => 'yes' }

  .row.full.information.hide.js-money-deposit
    %p.nonjs If you answered <strong>yes</strong>, at the time of giving notice:
    %ul
      %li <span class="nonjs" data-jsalt="The">the</span> deposit must be in a #{link_to 'government-backed deposit protection scheme', 'https://www.gov.uk/tenancy-deposit-protection/overview', class: 'external', rel: 'external', target: '_blank'} and all requirements of the scheme fulfilled
      %li <span class="nonjs" data-jsalt="The">the</span> defendant must have been given all information about the deposit scheme that #{link_to 'landlords are required to provide', 'https://www.gov.uk/tenancy-deposit-protection/information-landlords-must-give-tenants', class: 'external', rel: 'external', target: '_blank'}

  .sub-panel.extra.hide.js-money-deposit
    - if false # suppress field until we receive new pdf
      = form.date_select_field_set :information_given_date, 'Enter the date when this information was given to the defendant', class: 'date-picker full', date_select_options: @date_select_options
    = form.text_field_row  :ref_number, label: 'Enter the tenancy deposit scheme reference number', class: 'full'

  - choice = { 'Yes, and the deposit was returned at the time notice was given' => 'Yes', 'No' => 'No'}
  = form.radio_button_fieldset :as_property, 'Did you receive a deposit in the form of property on or after 6 April 2007? (This is a deposit that has been taken instead of cash, eg an item of value like jewellery)', class: 'striped-choice full js-depend', choice: choice, :data => { :depend => 'property-deposit', :show => 'yes' }
