= claim_form.fields_for deposit, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :received,
      'Did you receive a deposit for the property on or after 6 April 2007?',
      class: 'radio inline js-depend',
      data: { depend: 'deposit', 'virtual-pageview' => '/accelerated/deposit-section' }

  %fieldset.hide.js-deposit.yes.radio.js-depend{ id: 'deposit_type_fieldset' }
    %h3
      %span.nonjs(data-jsalt='What') If <strong>yes</strong>, what
      kind of deposit?
    .options
      - form.row :as_money do
        = form.labelled_check_box :as_money, 'A money deposit (for example cash or cheque)'.html_safe, 'Yes', 'No', data: {depend: 'depositTypeMoney'}
      - form.row :as_property do
        = form.labelled_check_box :as_property, 'A deposit in the form of property (for example an item of jewellery)'.html_safe, 'Yes', 'No', data: { depend: 'depositTypeProperty'}


  .row.money-deposit-type.hide.js-depositTypeMoney.yes
    %h4.strong
      %span.nonjs(data-jsalt='You') If you took a money deposit you
      need to be sure that:
    %ul
      %li= 'you kept the deposit in a government-backed deposit protection scheme and met the scheme’s requirements'.html_safe
      %li= 'you gave the tenant all the information about the deposit scheme that landlords must provide'.html_safe

    = form.text_field_row  :ref_number, label: 'Enter the tenancy deposit scheme reference number', class: 'rel hide js-depositTypeMoney yes'

  .row.property-deposit-type.hide.js-depositTypeProperty.yes
    %h4.strong
      %span.nonjs(data-jsalt='You') If you took a property deposit you
      need to be sure that:
    %ul
      %li= 'the deposit in the form of property was returned at the time notice was given.'.html_safe


