= claim_form.fields_for fee_account, builder: LabellingFormBuilder do |form|
  %details{ open: true }
    %summary.js-only
      %span.summary#fee-account= I18n.t 'claim.fee.account.prompt'
    .panel-indent
      .sub-panel.hide.nonjs= I18n.t 'claim.fee.account.prompt'
      = form.text_field_row :account,
        label: "<span class='visuallyhidden'>#{I18n.t 'claim.fee.account.guidance'}</span> <span aria-hidden='true'>#{I18n.t 'claim.fee.account.description'}</span>".html_safe,
        maxlength: 10

