= claim_form.fields_for license, builder: LabellingFormBuilder do |form|
  .row
    ='If 3 or more unrelated tenants live in your property, or the bathroom or kitchen are shared, it may be classed as a <a href="https://www.gov.uk/private-renting/houses-in-multiple-occupation" class="external" rel="external" target="_blank">House in Multiple Occupation (HMO)</a>.'.html_safe
  = form.radio_button_fieldset :multiple_occupation,
      'Do you have a HMO licence?',
      class: 'radio inline js-depend',
      choice: [ 'Yes', 'Applied', 'No' ],
      data: { depend: 'hmo', 'virtual-pageview' => '/accelerated/licenses-section' }

  .panel-indent.sub-panel.hide.js-hmo.yes
    = form.radio_button_fieldset :issued_under_act_part_yes,
        '<span class="nonjs" data-jsalt="Which"><strong>If yes</strong>, which</span> licence do you have?'.html_safe,
        class: 'radio',
        choice: [ 'Part2', 'Part3', '' ]
    = form.text_field_row  :issued_by, label: 'Which local authority issued the licence?'
    = form.moj_date_fieldset :issued_date, 'When was it issued?', class: 'date-picker'

  .panel-indent.sub-panel.hide.js-hmo.applied
    = form.radio_button_fieldset :issued_under_act_part_applied,
        '<span class="nonjs" data-jsalt="Which"><strong>If you\'ve applied for one</strong>, which</span> licence have you applied for?'.html_safe,
        class: 'radio',
        choice: [ 'Part2', 'Part3', '' ]
    .row
      %p You'll need to provide evidence of your licence application.
