= claim_form.fields_for license, builder: LabellingFormBuilder do |form|
  = form.radio_button_fieldset :hmo, 'Is the property part of a house in multiple occupation?', class: 'striped-choice full'

  .sub-panel.extra.rel
    = form.text_field_row  :authority, label: 'If <strong>Yes</strong>, name of authority who issued the license', class: 'full'
    - form.fieldset :hmo_date, class: 'date-picker rel full' do
      %legend Date licence was issued
      .row
        = form.date_select(:hmo_date, @date_select_options)

  = form.radio_button_fieldset :housing_act, 'Is the property required to be licensed under Part 3 of the Housing Act 2004?', class: 'striped-choice full'

  .sub-panel.extra.rel
    = form.text_field_row  :housing_act_authority, label: 'If <strong>Yes</strong>, name of authority who issued the license', class: 'full'

    - form.fieldset :housing_act, class: 'date-picker rel full' do
      %legend Date license was issued
      .row
        = form.date_select(:housing_act_date, @date_select_options)

