= claim_form.fields_for license, builder: LabellingFormBuilder do |form|
  = form.radio_button_fieldset :multiple_occupation, 'Is the property part of a house in multiple occupation?', class: 'striped-choice full'

  .sub-panel.extra.rel
    = form.text_field_row  :multiple_occupation_authority, label: 'If <strong>Yes</strong>, name of authority who issued the license', class: 'full'

    = form.date_select_field_set :multiple_occupation_date, 'Date licence was issued', class: 'date-picker rel full', date_select_options: @date_select_options

  = form.radio_button_fieldset :housing_act, 'Is the property required to be licensed under Part 3 of the Housing Act 2004?', class: 'striped-choice full'

  .sub-panel.extra.rel
    = form.text_field_row  :housing_act_authority, label: 'If <strong>Yes</strong>, name of authority who issued the license', class: 'full'

    = form.date_select_field_set :housing_act_date, 'Date licence was issued', class: 'date-picker rel full', date_select_options: @date_select_options

