= claim_form.fields_for notice, builder: LabellingFormBuilder do |form|
  .row
    = 'You need to tell us about how you gave the defendant notice to leave the property'.html_safe

  = form.text_field_row  :served_by_name, label: 'Name of the person who gave the notice', data: { 'virtual-pageview' => '/accelerated/notice_section' }
  = form.text_field_row  :served_method, label: 'How was the notice given?'


  = form.moj_date_fieldset :date_served, 'Date notice served', { class: 'date-picker' }, 9.weeks.ago
  = form.moj_date_fieldset :expiry_date, 'Date notice ended', { class: 'date-picker' }, 1.week.ago
