= claim_form.fields_for notice, builder: LabellingFormBuilder do |form|
  .row.full
    Enter details of when notice was given to the defendant. See more about #{link_to 'giving notice', 'https://www.gov.uk/gaining-possession-of-a-privately-rented-property-let-on-an-assured-shorthold-tenancy#seeking-possession-under-section-21', class: 'external', rel: 'external', id: 'giving-notice-link'}.

  = form.text_field_row  :served_by, label: 'Notice served by', class: ''

  = form.date_select_field_set :date_served, 'Date notice served', class: 'date-picker', date_select_options: @date_select_options
  = form.date_select_field_set :expiry_date, 'Date notice expired', class: 'date-picker', date_select_options: @date_select_options
