= claim_form.fields_for order, builder: LabellingFormBuilder do |form|
  %fieldset.striped-choice.full{ id: (form.error_for?(:possession) ? form.error_id_for(:possession) : '') }
    %legend
      Check the options below to confirm that you want the court to order that the defendant:
      %span.req> *
    .options
      - form.row :possession do
        = form.check_box :possession, {}, "Yes", "No"
        = form.label :possession, 'deliver up possession of the property'
        - if form.error_for? :possession
          = form.error_span :possession
      - form.row :cost do
        = form.check_box :cost, {}, "Yes", "No"
        = form.label :cost, 'pay the costs of this claim'
        
    .row.divider

