.row
  %p
    %span.summary-label= I18n.t "claim.num_#{type}s.label"
    %span= @claim["num_#{type}s"]
- @claim.keys.select{|x| x[pattern]}.each do |participant|
  - blank_participant = @claim[participant]['validate_absence']
  - unless blank_participant
    .row.divider
    .row
      %h3= participant.humanize
    .row
      - values = @claim[participant]
      - values.each do |label, value|
        - unless ['street',
              'postcode'].include?(label)
          = render partial: 'field_summary',
              locals: { section: participant,
                  label: label,
                  value: value,
                  values: values }

      - if show_participant_address?(participant, values)
        = render partial: 'field_summary',
            locals: { section: participant,
                label: 'street',
                value: @claim[participant]['street'],
                values: values }

        = render partial: 'field_summary',
            locals: { section: participant,
                label: 'postcode',
                value: @claim[participant]['postcode'],
                values: values }

