.row
  %p
    %span.summary-label= I18n.t "claim.num_#{type}s.label"
    %span= @claim["num_#{type}s"]
- @claim.keys.select{|x| x[pattern]}.each do |participant|
  - blank_participant = @claim[participant]['validate_absence']
  - unless blank_participant
    .row.divider
    .row
      %h3= participant.humanize
    .row
      - values = @claim[participant]
      - values.each do |label, value|
        - unless ['claimant_type',
              "num_#{type}s",
              "#{type}_num",
              'validate_presence',
              'address_same_as_first_claimant',
              'inhabits_property',
              'street',
              'postcode'].include?(label)
          = render partial: 'field_summary',
              locals: { section: participant,
                  label: label,
                  value: value,
                  values: values }

      - if (values['inhabits_property'] == 'No') || ( values['street'].present? && (values['street'] != @claim['property']['street']) )
        = render partial: 'field_summary',
            locals: { section: participant,
                label: 'street',
                value: @claim[participant]['street'],
                values: values }

        = render partial: 'field_summary',
            locals: { section: participant,
                label: 'postcode',
                value: @claim[participant]['postcode'],
                values: values }

