= claim_form.fields_for property, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :house,
      'What kind of property do you want to take back?',
      class: 'radio',
      choice: { 'A self-contained house, flat or bedsit'.html_safe => 'Yes',
          'Room(s) in a property <span class="hint">Tenants may share kitchen or bathroom</span>'.html_safe => 'No' },
      data: { 'virtual-pageview' => '/accelerated/property-section' }

  .sub-panel.address#property
    .row
    - street_label = %q{Full Address<span class="hint toggle-hint js-enabled" id="room_number"><br>Include the room number</span><span class="hint hide" id="room_number-non-js">If "Room(s) in a property" was selected above, include the room number</span>}

    = form.text_area_row  :street,   label: street_label, class: 'street'
    = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'
    = form.text_field_row :room_number, class: 'room_number hide', input_class: 'smalltext'
