= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.radio_button_fieldset :tenancy_type, 'What kind of tenancy agreement do you have with the defendant?', class: 'radio js-depend', choice: {'Assured shorthold tenancy <span class="hint">This is the most common form of <a href="https://www.gov.uk/tenancy-agreements-a-guide-for-landlords/tenancy-types" class="external" rel="external" target="_blank">tenancy</a></span>' => 'assured', 'Demoted assured shorthold tenancy <span class="hint">This is a tenancy agreement that has been \'demoted\' by the court. This may be because the tenants behaved anti-socially or used the property for illegal activity.</span>' => 'demoted'}, data: { depend: "tenancyType" }

  .row.divider.hide.js-tenancyType.assured

  .sub-panel.rel.hide.js-tenancyType.assured
    %h4.section-header Assured shorthold tenancies

    = form.radio_button_fieldset :assured_shorthold_tenancy_type, 'How many tenancy agreements have you had with the defendant?', class: 'radio js-depend', choice: {'1 tenancy agreement' => 'one', 'More than 1' => 'multiple'}, data: { depend: "tenancyNumber" }


    .sub-panel.assuredTenancyOptions.hide.js-tenancyNumber.one.multiple
      .sub-panel.hide.inset.js-tenancyNumber.one
        .row.remove
          %p= "If you've had <strong>one</strong> tenancy agreement, enter the details".html_safe

        = form.date_select_field_set :start_date, 'Start date of the tenancy agreement', class: 'date-picker rel conditional original', date_select_options: @date_select_options

      .sub-panel.hide.inset.js-tenancyNumber.multiple
        .row.remove
          = 'If you\'ve had <strong>more than one</strong> tenancy agreement, enter the details'.html_safe

        = form.date_select_field_set :original_assured_shorthold_tenancy_agreement_date, 'Date of the original tenancy agreement', class: 'date-picker conditional original', date_select_options: @date_select_options

        = form.date_select_field_set :latest_agreement_date, 'Date of the most recent tenancy agreement', class: 'date-picker rel conditional latest', date_select_options: @date_select_options

        = form.radio_button_fieldset :agreement_reissued_for_same_property, 'Is the tenancy agreement for the same property?', class: 'radio inline'

        = form.radio_button_fieldset :agreement_reissued_for_same_landlord_and_tenant, 'Is the tenancy agreement between the same landlord and tenant?', class: 'radio inline rel'

      .row.hide.js-conditionals

        .statements.hide.current
          %p= "If your original tenancy agreement (and any additional agreements) were made on or after <strong>#{(Tenancy::RULES_CHANGE_DATE).to_s(:printed)}</strong>, read the statements below.".html_safe

          %p
            %strong Select all that apply:

          %ol.alphabetical
            %li{ id: form.id_for(:applicable_statements_1).to_s }
              = form.label :applicable_statements_1 do
                = form.check_box :applicable_statements_1, {}, "Yes", "No"
                = 'You didn\'t tell the defendant that the agreement would change at any time'.html_safe
              - if form.error_for? :applicable_statements_1
                %br
                = form.error_span :applicable_statements_1
            %li{ id: form.id_for(:applicable_statements_2).to_s }
              = form.label :applicable_statements_2 do
                = form.check_box :applicable_statements_2, {}, "Yes", "No"
                = "There\'s nothing in the agreement to say it\'s <strong>not</strong> an assured shorthold tenancy".html_safe
              - if form.error_for? :applicable_statements_2
                %br
                = form.error_span :applicable_statements_2
            %li{ id: form.id_for(:applicable_statements_3).to_s }
              = form.label :applicable_statements_3 do
                = form.check_box :applicable_statements_3, {}, "Yes", "No"
                = 'The defendant is not living in the property as an agricultural worker in connection with their work (so <a href="http://www.legislation.gov.uk/ukpga/1988/50/part/I/chapter/III" rel="external" class="external" target="_blank">Schedule 3, Housing Act 1988 does not apply</a>) '.html_safe
              - if form.error_for? :applicable_statements_3
                %br
                = form.error_span :applicable_statements_3

        %p.remove
          %strong (or)

        .statements.hide.older
          %p= "If your original tenancy agreement (and any additional agreements) were made between <strong>#{Tenancy::APPLICABLE_FROM_DATE.to_s(:printed)} and #{(Tenancy::RULES_CHANGE_DATE - 1).to_s(:printed)}</strong>, read the statements below.".html_safe

          %p
            %strong Select all that apply:
          %ol
            %li{ id: form.id_for(:applicable_statements_4).to_s }
              = form.label :applicable_statements_4 do
                = form.check_box :applicable_statements_4, {}, "Yes", "No"
                = 'The tenancy agreement was for 6 months (or more)'.html_safe
              - if form.error_for? :applicable_statements_4
                %br
                = form.error_span :applicable_statements_4
            %li.noticeStatement{ id: form.id_for(:applicable_statements_6).to_s }
              = form.label :applicable_statements_5 do
                = form.check_box :applicable_statements_5, {}, "Yes", "No"
                = 'You told the defendant (in writing) that they’d have an assured shorthold tenancy before they moved in'.html_safe
              - if form.error_for? :applicable_statements_5
                %br
                = form.error_span :applicable_statements_5
              = form.text_field_row :assured_shorthold_tenancy_notice_served_by, label: 'Who told the defendant?', class: 'rel'
              = form.date_select_field_set :assured_shorthold_tenancy_notice_served_date, 'When? <span class="hint">(date)</span>', class: 'date-picker rel', date_select_options: @date_select_options
            %li{ id: form.id_for(:applicable_statements_6).to_s }
              = form.label :applicable_statements_6 do
                = form.check_box :applicable_statements_6, {}, "Yes", "No"
                = 'You couldn\'t have ended the tenancy agreement in the first 6 months'.html_safe
              - if form.error_for? :applicable_statements_6
                %br
                = form.error_span :applicable_statements_6

  .row.divider.hide.js-tenancyType.demoted

  .sub-panel.rel.hide.js-tenancyType.demoted
    %h4.section-header Demoted assured shorthold tenancies

    .sub-panel.inset
      = form.date_select_field_set :demotion_order_date, 'Date of demotion order', class: 'date-picker', date_select_options: @date_select_options
      = form.text_field_row :demotion_order_court, label: 'County court where demotion order was made'
      = form.radio_button_fieldset :previous_tenancy_type, 'What kind of <a href="https://www.gov.uk/private-renting-tenancy-agreements/tenancy-types" class="external" rel="external" target="_blank">tenancy agreement</a> did the defendant have before it got demoted?', class: 'radio inline', choice: {'Assured' => Tenancy::ASSURED, 'Secure' => Tenancy::SECURE }
