= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.radio_button_fieldset :tenancy_type,
        'What kind of tenancy agreement do you have with the defendant?',
        class: 'radio js-depend',
        choice: {'Assured shorthold tenancy <span class="hint">(this is the most common form of tenancy)</span>' => 'assured',
            'Demoted assured shorthold tenancy <span class="hint">(this is a tenancy agreement that has been ‘demoted’ by the court, for example because tenants behaved anti-socially or used the property for illegal activity)</span>' => 'demoted'},
        data: { depend: 'tenancyType', 'virtual-pageview' => '/accelerated/tenancy-section' }

  .row.divider.hide.js-tenancyType.assured

  .sub-panel.rel.hide.js-tenancyType.assured
    %h3.section-header.hide Assured shorthold tenancies

    = form.radio_button_fieldset :assured_shorthold_tenancy_type,
        'How many tenancy agreements have you had with the defendant?',
        class: 'radio inline js-depend',
        choice: {'1' => 'one', 'More than 1' => 'multiple'},
        data: { depend: 'tenancyNumber' }


    .sub-panel.assuredTenancyOptions.hide.js-tenancyNumber.one.multiple
      .sub-panel.hide.inset.js-tenancyNumber.one
        .row.remove
          %p= "If you’ve had <strong>1</strong> tenancy agreement, enter the details".html_safe

        = form.moj_date_fieldset :start_date, 'Start date of the tenancy agreement', class: 'date-picker rel conditional original'

      .sub-panel.hide.inset.js-tenancyNumber.multiple
        .row.remove
          = 'If you’ve had <strong>more than 1</strong> tenancy agreement, enter the details'.html_safe

        = form.moj_date_fieldset :original_assured_shorthold_tenancy_agreement_date, 'Date of the original tenancy agreement', class: 'date-picker conditional original'
        /= form.date_select_field_set :original_assured_shorthold_tenancy_agreement_date, 'Date of the original tenancy agreement', class: 'date-picker conditional original', date_select_options: @date_select_options

        = form.moj_date_fieldset :latest_agreement_date, 'Date of the most recent tenancy agreement', class: 'date-picker rel conditional latest'

        = form.radio_button_fieldset :agreement_reissued_for_same_property, 'Is the tenancy agreement for the same property?', class: 'radio inline'

        = form.radio_button_fieldset :agreement_reissued_for_same_landlord_and_tenant, 'Is the tenancy agreement between the same landlord and tenant?', class: 'radio inline rel'

      .row.hide.js-conditionals

        .statements.hide.current
          -# following paragraph replaced and moved when JS turned on - see tenancy_module.js
          %p#read-statements= "If your original tenancy agreement (and any additional agreements) were made <strong>on or after #{(Tenancy::RULES_CHANGE_DATE).to_s(:printed)}</strong>, read the statements below and select all that apply:".html_safe

          %ol
            %li{ id: form.id_for(:applicable_statements_1, 'as1').to_s }
              = form.labelled_check_box :applicable_statements_1, 'You didn’t tell the defendant that the agreement was likely to change'
            %li{ id: form.id_for(:applicable_statements_2, 'as2').to_s }
              = form.labelled_check_box :applicable_statements_2, 'You have an assured shorthold tenancy agreement (with no exceptions)'.html_safe
            %li{ id: form.id_for(:applicable_statements_3, 'as3').to_s }
              = form.labelled_check_box :applicable_statements_3, 'The defendant is not living in the property as an agricultural worker in connection with their work (so Schedule 3, Housing Act 1988 does not apply) '.html_safe

        .statements.hide.older
          %p.hide= "If your original tenancy agreement (and any additional agreements) were made between <strong>#{Tenancy::APPLICABLE_FROM_DATE.to_s(:printed)} and #{(Tenancy::RULES_CHANGE_DATE - 1).to_s(:printed)}</strong>, read the statements below and select all that apply:".html_safe

          %ol
            %li{ id: form.id_for(:applicable_statements_4, 'as4').to_s }
              = form.labelled_check_box :applicable_statements_4, 'The tenancy agreement was for 6 months (or more)'
            %li.noticeStatement{ id: form.id_for(:applicable_statements_5, 'as5').to_s }
              = form.labelled_check_box :applicable_statements_5, 'You told the defendant (in writing) that they’d have an assured shorthold tenancy before they moved in'

              = form.text_field_row :assured_shorthold_tenancy_notice_served_by, label: 'Who told the defendant?', class: 'rel'
              = form.moj_date_fieldset :assured_shorthold_tenancy_notice_served_date, 'When? <span class="hint">(date)</span>', class: 'date-picker rel'
              / = form.date_select_field_set :assured_shorthold_tenancy_notice_served_date, 'When? <span class="hint">(date)</span>', class: 'date-picker rel', date_select_options: @date_select_options
            %li{ id: form.id_for(:applicable_statements_6, 'as6').to_s }
              = form.labelled_check_box :applicable_statements_6, 'You couldn’t have ended the tenancy agreement in the first 6 months'

  .row.divider.hide.js-tenancyType.demoted

  .sub-panel.rel.hide.js-tenancyType.demoted
    %h3.section-header.hide Demoted assured shorthold tenancies

    .sub-panel.inset
      = form.moj_date_fieldset  :demotion_order_date, 'Date of demotion order', class: 'date-picker'
      / = form.date_select_field_set :demotion_order_date, 'Date of demotion order', class: 'date-picker', date_select_options: @date_select_options
      = form.text_field_row :demotion_order_court, label: 'Court where demotion order was made'
      = form.radio_button_fieldset :previous_tenancy_type, 'What kind of <a href="https://www.gov.uk/private-renting-tenancy-agreements/tenancy-types" class="external" rel="external" target="_blank">tenancy agreement</a> did the defendant have before it was demoted?', class: 'radio inline', choice: {'Assured' => Tenancy::ASSURED, 'Secure' => Tenancy::SECURE }
