= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.radio_button_fieldset :tenancy_type, 'What kind of tenancy agreement do you have?', class: 'striped-choice full', choice: {'Assured shorthold tenancy' => 'assured', 'Demoted assured shorthold tenancy' => 'demoted'}

    .row.full.information
      %p Demoted assured shorthold tenancies are arranged by court order. They may be given to tenants who have behaved anti-socially or used the property for illegal activity.

  .row.divider

  .sub-panel.rel
    %h4.section-header Assured shorthold tenancies

  = form.radio_button_fieldset :assured_shorthold_tenancy_type, 'How many tenancy agreements have you had with the defendant?', class: 'striped-choice full', choice: {'One tenancy agreement' => 'one', 'More than one tenancy agreement' => 'multiple'}

  .sub-panel.extra
    .row.full
      %p= "If you've had <strong>one</strong> tenancy agreement, enter the details".html_safe

    = form.date_select_field_set :start_date, 'Start date of the tenancy agreement', class: 'date-picker full rel', date_select_options: @date_select_options

  .sub-panel.extra
    .row.full
      = 'If you\'ve had <strong>more than one</strong> tenancy agreement, enter the details'.html_safe

    = form.date_select_field_set :original_assured_shorthold_tenancy_agreement_date, 'Date of the original tenancy agreement', class: 'date-picker full rel', date_select_options: @date_select_options

    = form.date_select_field_set :latest_agreement_date, 'Date of the most recent tenancy agreement', class: 'date-picker full rel', date_select_options: @date_select_options

    .row.full
      %p If you have replaced the original tenancy agreement with a new tenancy agreement, or replaced a replacement tenancy agreement:

    = form.radio_button_fieldset :agreement_reissued_for_same_property, 'Is the tenancy agreement for the same property?', class: 'striped-choice full rel'

    = form.radio_button_fieldset :agreement_reissued_for_same_landlord_and_tenant, 'Is the tenancy agreement between the same landlord and tenant?', class: 'striped-choice full'

  .row.full
    %p
      %strong Check the statements that apply

    %p= "If both the original (and any additional) tenancy agreements were made on or after <strong>28 February 1997</strong>:".html_safe

    %ol.alphabetical
      %li No notice was served on the defendant stating that the tenancy would not be, or continue to be, an assured shorthold tenancy.
      %li There is no provision in the tenancy agreement which states that it is not an assured shorthold tenancy.
      %li The ‘agricultural worker condition’ defined in Schedule 3 to the Housing Act 1988 in not fulfilled with respect to the property.

    %p
      %strong (or)

    %p If both the original (and any additional) tenancy agreements were made on or after 15 January 1989:

    %ol.alphabetical
      %li The [first] tenancy agreement was for a fixed term of not less than six months.
      %li There was no power for the landlord to end the tenancy earlier than six months after it began.
      %li Before the tenancy began a notice in writing, stating that the tenancy was to be an assured shorthold tenancy, was served on the defendant

  = form.text_field_row :assured_shorthold_tenancy_notice_served_by, label: 'Notice served by', class: ''
  = form.date_select_field_set :assured_shorthold_tenancy_notice_served_date, 'Date notice served', class: 'date-picker', date_select_options: @date_select_options

  .row.divider

  .sub-panel.rel
    %h4.section-header Demoted assured shorthold tenancies

    .sub-panel.extra
      = form.date_select_field_set :demotion_order_date, 'Date of demotion order', class: 'date-picker full', date_select_options: @date_select_options
      = form.text_field_row :demotion_order_court, label: 'County court where demotion order was made', class: 'full'
      = form.radio_button_fieldset :previous_tenancy_type, 'What kind of tenancy agreement did the defendant have before it got demoted?', class: 'striped-choice full', choice: {'Assured' => 'assured', 'Secure' => 'secure'}
