= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.radio_button_fieldset :tenancy_type,
        'What kind of tenancy agreement do you have with the defendant?',
        class: 'radio js-depend',
        choice: [ 'assured', 'demoted' ],
        data: { depend: 'tenancyType', 'virtual-pageview' => '/accelerated/tenancy-section' }

  .sub-panel.rel.hide.js-tenancyType.assured
    %h3.section-header.hide Assured shorthold tenancies

    = form.radio_button_fieldset :assured_shorthold_tenancy_type,
        'How many tenancy agreements have you had with the defendant?',
        class: 'radio js-depend',
        choice: [ 'one', 'multiple', '' ],
        data: { depend: 'tenancyNumber' }


    .sub-panel.assuredTenancyOptions.hide.js-tenancyNumber.one.multiple
      .panel-indent.sub-panel.hide.inset.js-tenancyNumber.one
        %p.remove
          If you’ve had <strong class='bold-small'>1</strong> tenancy agreement, enter the details

        = form.moj_date_fieldset :start_date, 'Start date of the tenancy agreement', class: 'date-picker rel conditional original'

      .panel-indent.sub-panel.hide.inset.js-tenancyNumber.multiple
        %p.remove
          If you’ve had <strong class="bold-small">more than 1</strong> tenancy agreement, enter the details

        = form.moj_date_fieldset :original_assured_shorthold_tenancy_agreement_date, 'Date of the original tenancy agreement', class: 'date-picker conditional original'

        = form.moj_date_fieldset :latest_agreement_date, 'Date of the most recent tenancy agreement', class: 'date-picker rel conditional latest'

        = form.radio_button_fieldset :agreement_reissued_for_same_property,
            'Is the tenancy agreement for the same property?',
            class: 'radio inline',
            choice: [ 'Yes', 'No', '' ]

        = form.radio_button_fieldset :agreement_reissued_for_same_landlord_and_tenant,
            'Is the tenancy agreement between the same landlord and tenant?',
            class: 'radio inline rel',
            choice: [ 'Yes', 'No', '' ]

      .sub-panel.inset.hide.js-conditionals
        .statements.hide.current
          -# following paragraph replaced and moved when JS turned on - see tenancy_module.js
          %p#read-statements
            If your original tenancy agreement (and any additional agreements)
            were made <strong class='bold-small'>on or after #{(Tenancy::RULES_CHANGE_DATE).to_s(:printed)}</strong>,
            read the statements below and select all that apply:

          %ul
            %li You didn’t tell the defendant that the agreement was likely to change
            %li You have an assured shorthold tenancy agreement (with no exceptions)
            %li The defendant is not living in the property as an agricultural worker in connection with their work (so Schedule 3, Housing Act 1988 does not apply)

        %fieldset.statements.hide.current.radio{ id: (form.error_for?(:confirmed_second_rules_period_applicable_statements) ? form.error_id_for(:confirmed_second_rules_period_applicable_statements) : 'second_rule_placeholder') }
          - form.row :confirmed_second_rules_period_applicable_statements do
            = form.labelled_check_box :confirmed_second_rules_period_applicable_statements, '<strong class="bold-small">Yes</strong>, all these statements apply'.html_safe

        .statements.hide.older
          %p.hide
            If your original tenancy agreement (and any additional agreements)
            were made between <strong class='bold-small'>#{Tenancy::APPLICABLE_FROM_DATE.to_s(:printed)} and #{(Tenancy::RULES_CHANGE_DATE - 1).to_s(:printed)}</strong>,
            read the statements below and select all that apply:

          %ul
            %li The tenancy agreement was for 6 months (or more)
            %li.noticeStatement
              You told the defendant (in writing) that they’d have an assured shorthold tenancy before they moved in
              = form.text_field_row :assured_shorthold_tenancy_notice_served_by, label: 'Who told the defendant?', class: 'rel'
              = form.moj_date_fieldset :assured_shorthold_tenancy_notice_served_date, 'When?', class: 'date-picker rel'
            %li You couldn’t have ended the tenancy agreement in the first 6 months

        %fieldset.statements.hide.older.radio{ id: (form.error_for?(:confirmed_first_rules_period_applicable_statements) ? form.error_id_for(:confirmed_first_rules_period_applicable_statements) : 'first_rule_placeholder') }
          - form.row :confirmed_first_rules_period_applicable_statements do
            = form.labelled_check_box :confirmed_first_rules_period_applicable_statements, '<strong class="bold-small">Yes</strong>, all these statements apply'.html_safe

  .sub-panel.rel.hide.js-tenancyType.demoted
    %h3.section-header.hide Demoted assured shorthold tenancies

    .sub-panel.inset
      = form.moj_date_fieldset  :demotion_order_date, 'Date of demotion order', class: 'date-picker'
      = form.text_field_row :demotion_order_court, label: 'Court where demotion order was made'
      = form.radio_button_fieldset :previous_tenancy_type,
          'What kind of <a href="https://www.gov.uk/private-renting-tenancy-agreements/tenancy-types" class="external" rel="external" target="_blank">tenancy agreement</a> did the defendant have before it was demoted?',
          class: 'radio inline',
          choice: [ Tenancy::ASSURED, Tenancy::SECURE, '' ]
