= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  - form.fieldset :start_date, class: 'date-picker' do
    %legend
      Tenancy start date
      %span.req> *
    .row
      = form.date_select(:start_date, @date_select_options)
  .row.full
    = 'If there has been <strong>multiple tenancy agreements</strong> please give details below.'.html_safe
  .sub-panel.extra.rel
    - form.fieldset :latest_agreement_date, class: 'date-picker full' do
      %legend
        Date of the most recent tenancy agreement
      .row
        = form.date_select(:latest_agreement_date, @date_select_options)
    %div{ style: "padding:0 30px 20px 30px" }
      Whenever a new tenancy agreement has replaced the first tenancy agreement or has replaced a replacement tenancy agreement:

    = form.radio_button_fieldset :agreement_reissued_for_same_property, 'Has it been for the same property?', class: 'striped-choice full'

    = form.radio_button_fieldset :agreement_reissued_for_same_landlord_and_tenant, 'Has it been the same landlord and tenant?', class: 'striped-choice full'

