= claim_form.fields_for tenancy, builder: LabellingFormBuilder do |form|
  = form.date_select_field_set :start_date, 'Tenancy start date', class: 'date-picker', date_select_options: @date_select_options
  .row.full
    = 'If there has been <strong>multiple tenancy agreements</strong> please give details below.'.html_safe
  .sub-panel.extra.rel
    = form.date_select_field_set :latest_agreement_date, 'Date of the most recent tenancy agreement', class: 'date-picker full', date_select_options: @date_select_options
    .row
      Whenever a new tenancy agreement has replaced the first tenancy agreement or has replaced a replacement tenancy agreement:

    = form.radio_button_fieldset :reissued_for_same_property, 'Has it been for the same property?', class: 'striped-choice full'

    = form.radio_button_fieldset :reissued_for_same_landlord_and_tenant, 'Has it been the same landlord and tenant?', class: 'striped-choice full'

