%section.confirmation-intro
  %h1
    Your accelerated possession form
    %br/
    is ready to print
  %p
    = link_to "Print completed form", download_path, class: "button large chevron pdf-download", data: { "event-label" => "N5B form.pdf" }

.container.steps
  %section
    %h2 Next steps

    %ol.steps
      %li.claim
        Print copies of the completed form
        .box
          %ul.nodot
            %li= "<strong>1</strong> for the court".html_safe
            %li= "<strong>1</strong> for each defendant".html_safe
            %li= "<strong>1</strong> for each claimant".html_safe
      %li.sign
        Sign and date the statement of truth on all copies
        .box
          %ul.nodot
            %li= "Found on <strong>page 4</strong> of the claim form".html_safe
      %li.docs
        Attach copies of the following documents to the claim form:
        .box
          %ul.nodot
            %li
              The tenancy agreement marked
              %strong 'A'
            %li
              If there has been multiple tenancy agreements, the most recent tenancy agreement marked
              %strong 'A1'
            %li
              The notice served marked
              %strong 'C'
            %li
              Proof the notice was served marked
              %strong 'C1'
            %li
              If the property is part of a house in multiple occupation, and the licence application is outstanding with the local authority, provide evidence of the application marked
              %strong 'D'
            %li
              If the property is required to be licenced under Part 3 of the Housing Act 2004, and the licence application is outstanding with the local authority, provide evidence of the application marked
              %strong 'E'
      %li.pound
        = "Include the correct court fee".html_safe
        .box
          %ul.nodot
            %li
              %strong You can pay by:
            %li
              Debit or credit card
            %li
              Cheque or postal order (made payable to 'HM Courts & Tribunals Service')
            %li
              Cash
      %li.court
        = "Post <strong>all</strong> copies of the form and documents to court".html_safe
        .box
          %ul.nodot
            %li Find a court using the #{link_to 'court and tribunal finder', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external'}
