%header
  %h1
    =I18n.t('confirmation.heading')

%section.confirmation
  %p
    %span.bold-medium= I18n.t('confirmation.incomplete')
  %p
    =I18n.t('confirmation.check')

= render partial: 'shared/flash'

#activateModalSessionTimer

= render partial: 'claim_summary'

.sub-panel
  %p= I18n.t('confirmation.continue_prompt')

  = link_to I18n.t('confirmation.continue'),
      download_path,
      class: 'button primary',
      target: '_blank',
      id: 'download',
      data: { 'event-label' => I18n.t('confirmation.continue'),
      'virtual-pageview' => '/accelerated/pdf-download' }
  - if session[:test]
    = link_to 'Submitted data',
        data_path,
        id: 'data'

  %p.font-xsmall
    =I18n.t('confirmation.pre_satisfaction')
    = link_to(I18n.t('confirmation.satisfaction'),
        'https://www.gov.uk/done/accelerated-possession-eviction',
        id: 'done',
        class: 'external',
        rel: 'external',
        data: { 'event-label' => 'View GDS done page',
        'virtual-pageview' => '/accelerated/satisfaction-survey' }) + '.'
    =I18n.t('confirmation.feedback')

  %p.font-xsmall
    = link_to I18n.t('confirmation.t_and_c'), :terms, rel: 'external', class: 'external', target: '_blank'

/ handlebars templates

= render partial: 'shared/hbtemplates'
