%section.confirmation-intro
  %h1
    You now need to send the completed form and documents to the court to make your claim.

.container.steps
  %section
    %h2 Next steps

    %ol.steps
      %li.claim
        Step 1: print copies of the completed form
        .box
          %ul.nodot
            %li= "<strong>1</strong> for the court".html_safe
            %li= "<strong>1</strong> for each defendant".html_safe
            %li= "<strong>1</strong> for each claimant".html_safe
          %p
            = link_to 'View and print completed form', download_path, class: 'button large chevron pdf-download', target: '_blank', data: { 'event-label' => 'View and print completed form' }

      %li.sign
        Step 2: sign the statement of truth on all copies
        .box
          %ul.nodot
            %li
              And fill in all appropriate fields. This needs to be signed by the claimant in black ink
            %li= "The statement of truth is on <strong>page 4</strong> of the form".html_safe
      %li.docs
        Step 3: attach copies of the following documents:
        .box
          %ul.nodot
            %li
              %strong For assured shorthold tenancies
            %li
              the first tenancy agreement with the defendant - marked
              %strong 'A'
            %li
              if you have had more than one tenancy agreement: the current tenancy agreement - marked
              %strong 'A1'
            %li
              if the defendant was given written notice that the tenancy was to be an assured shorthold tenancy before the tenancy began, include this - marked
              %strong 'B'
            %li
              %strong For demoted assured shorthold tenancies
            %li
              the most recent tenancy agreement - marked
              %strong 'A'
            %li
              the demotion order - marked
              %strong 'B'
            %li
              %strong For all tenancies
            %li
              the section 21 notice that was served to the defendant   - marked
              %strong 'C'
            %li
              evidence the notice was served, eg a sworn affidavit or proof of post - marked
              %strong 'C1'
            %li
              If the tenancy started on or after the 6 April 2007, the tenancy deposit scheme certificate - marked
              %strong 'F'
            %li
              %strong For houses in multiple occupation that have applied for a licence
            %li
              evidence of the application for a house in multiple occupation license under part 2 of the housing act - marked
              %strong 'D'
            %li
              evidence of the application for a house in multiple occupation license under part 3 of the housing act - marked
              %strong 'E'

      %li.pound
        Step 4: pay the £280 court fee
        .box
          %ul.nodot
            %li
              %strong You can pay by:
            %li
              cheque or postal order (made payable to ‘HM Courts & Tribunals Service’)
            %li
              debit or credit card (you’ll need to #{link_to 'contact the court', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external', :target => '_blank'} to pay this way)
            %li
              cash (do not send cash through the post. #{link_to 'Contact the court', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external', :target => '_blank'} to pay in person)
      %li.court
        = "Step 5: post <strong>all</strong> copies of the form and documents to court".html_safe
        .box
          %ul.nodot
            %li you can choose which court to send this claim to.
            %li use the #{link_to 'court finder', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external', :target => '_blank'} to find your nearest court.
            %li= "you need to write the court’s name and address <strong>in black ink</strong> at the top of <strong>page 1</strong> and the bottom of <strong>page 4</strong> of the form.".html_safe
