%section.confirmation-intro
  %h1
    You now need to send the completed form and documents to the court to make your claim.

.container.steps
  %section
    %h2 Next steps

    %ol.steps
      %li.claim
        Step 1: print copies of the completed form
        .box
          %ul.nodot
            %li= "<strong>1</strong> for the court".html_safe
            %li= "<strong>1</strong> for each defendant".html_safe
            %li= "<strong>1</strong> for each claimant".html_safe
          %p
            = link_to "Print completed form", download_path, class: "button large chevron pdf-download", target: "_blank", data: { "event-label" => "N5B form.pdf" }
    
      %li.sign
        Step 2: sign and date the statement of truth on all copies
        .box
          %ul.nodot
            %li= "This needs to be signed by the claimant".html_safe
            %li= "The statement of truth is on <strong>page 4</strong> of the form".html_safe
      %li.docs
        Step 3: attach copies of the following documents:
        .box
          %ul.nodot
            %li
              The tenancy agreement - marked
              %strong 'A'
            %li
              The notice served - marked
              %strong 'C'
            %li
              Proof the notice was served - marked
              %strong 'C1'
            %li
              the tenancy deposit scheme certificate - marked
              %strong 'F'
      %li.pound
        = "Step 4: pay the court fee".html_safe
        .box
          %ul.nodot
            %li
              %strong You can pay by:
            %li
              cheque or postal order (made payable to ‘HM Courts & Tribunals Service’)
            %li
              debit or credit card (you’ll need to #{link_to 'contact the court', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external'} to pay this way)
            %li
              cash (do not send cash through the post. #{link_to 'contact the court', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external'} to pay in person) 
      %li.court
        = "Step 5: post <strong>all</strong> copies of the form and documents to court".html_safe
        .box
          %ul.nodot
            %li you can choose which court to send this claim to.
            %li use the #{link_to 'court finder', 'https://courttribunalfinder.service.gov.uk/', :class => 'external', :rel => 'external'} to find your nearest court.
            %li you need to write the court’s name and address at the top of <strong>page 1</strong> and the bottom of <strong>page 4</strong> of the form.
