= render partial: 'shared/header_message'
= render partial: 'shared/flash'

#activateModalSessionTimer

%section.confirmation
  .moj-panel
    .row
      %p You now need to print the form and send it to court.

    .row.rel
      = link_to 'Print the form',
          download_path,
          class: 'button left large chevron pdf-download',
          target: '_blank',
          id: 'download',
          data: { 'event-label' => 'Print the form',
          'virtual-pageview' => '/accelerated/pdf-download' }
      - if session[:test]
        = link_to 'Submitted data',
            data_path,
            id: 'data'

  %p
    After you’ve submitted your claim, complete our
    = link_to('satisfaction survey',
        'https://www.gov.uk/done/accelerated-possession-eviction',
        id: 'done',
        class: 'external',
        rel: 'external',
        data: { 'event-label' => 'View GDS done page',
        'virtual-pageview' => '/accelerated/satisfaction-survey' }) + '.'
    Your feedback helps us improve the service.




/ handlebars templates

= render :partial => 'shared/hbtemplates'
