%header
  %h1
    Review the details of your claim

%section.confirmation
  %p
    %span.bold-medium You have not yet completed your claim.
  %p
    Check all the information on this page before clicking ‘Print the form’.


= render partial: 'shared/flash'

#activateModalSessionTimer

= render partial: 'claim_summary'

%section.confirmation
  .row
    %p You now need to print the form and send it to court.

%section
  .action-buttons.cf
    = link_to 'Print the form',
        download_path,
        class: 'button left large chevron pdf-download',
        target: '_blank',
        id: 'download',
        data: { 'event-label' => 'Print the form',
        'virtual-pageview' => '/accelerated/pdf-download' }
    - if session[:test]
      = link_to 'Submitted data',
          data_path,
          id: 'data'

  %p
    After you’ve submitted your claim, complete our
    = link_to('satisfaction survey',
        'https://www.gov.uk/done/accelerated-possession-eviction',
        id: 'done',
        class: 'external',
        rel: 'external',
        data: { 'event-label' => 'View GDS done page',
        'virtual-pageview' => '/accelerated/satisfaction-survey' }) + '.'
    Your feedback helps us improve the service.

  %p
    = link_to 'Terms and conditions and privacy policy', :terms, class: 'font-xsmall'

/ handlebars templates

= render partial: 'shared/hbtemplates'
