= render partial: 'shared/header_message'
= render partial: 'shared/flash'

.container.start
  %p There are a number of different ways to evict tenants from your property, use this form to make an #{link_to 'accelerated property possession claim', 'https://www.gov.uk/gaining-possession-of-a-privately-rented-property-let-on-an-assured-shorthold-tenancy', :class => 'external', :rel => 'external', :id => 'find-out-more'}.

  %p In most cases the court will make its decision without a court hearing and can order that the property is given back within 14 days. You can’t force tenants to leave before the end of the fixed-term tenancy.

  %p <strong>You can only make an accelerated property possession claim if:</strong>

  %ul
    %li the property is let on an assured shorthold tenancy
    %li the fixed term of the tenancy has ended and is now a periodic tenancy
    %li you have a written tenancy agreement
    %li you have given your tenant(s) at least 2 months’ written #{link_to 'notice', 'https://www.gov.uk/gaining-possession-of-a-privately-rented-property-let-on-an-assured-shorthold-tenancy#seeking-possession-under-section-21', :class => 'external', :rel => 'external', :id => 'notice-to-leave'} to leave the property
    %li you put the deposit in a government-backed tenancy deposit protection scheme (only if the property was let on or after 6th April 2007)

  %p You can’t use this form if you want to claim outstanding rent. Instead you’ll need to file a #{link_to 'standard possession claim', 'https://www.possessionclaim.gov.uk/pcol/', :class => 'external', :rel => 'external', :id => 'pcol'} which will go to a court hearing.

  %p <strong>What happens next</strong>

  %ul
    %li complete the form online 
    %li print the form out 
    %li send it to the court along with copies of key documents, eg the tenancy agreement 
    %li pay a court fee to start the claim.

  %p <strong>Do you qualify for legal aid?</strong>

  %p You may qualify for legal aid. Visit #{link_to 'www.gov.uk/legal-aid', 'https://www.gov.uk/legal-aid', :class => 'external', :rel => 'external', :id => 'legal-aid'} for more information or a citizens advice bureau at #{link_to 'www.adviceguide.org.uk', 'http://www.adviceguide.org.uk', :class => 'external', :rel => 'external', :id => 'advice-guide'}

  .action-buttons.cf
    = link_to 'Start now', new_path, class: 'button primary large chevron left'
