= render partial: 'shared/header_message'
= render partial: 'shared/flash'

.container.start
  %p There are a different ways to evict tenants from your property, use this form to make an #{link_to 'accelerated possession claim for property', 'https://www.gov.uk/gaining-possession-of-a-privately-rented-property-let-on-an-assured-shorthold-tenancy', :class => 'external', :rel => 'external', :id => 'find-out-more'}.

  %p In most cases, the judge will order that the property is given back within 14 days of the order being made. This decision is usually made without a court hearing. You can’t ask tenants to leave before the end of the fixed-term tenancy or without a court order.

  %p= "<strong>You can only make an accelerated possession claim for property if:</strong>".html_safe

  %ul
    %li the property is let on an assured shorthold tenancy
    %li you have a written tenancy agreement
    %li the fixed term of the tenancy has ended and is now a periodic tenancy
    %li you have given your tenant(s) at least 2 months’ written #{link_to 'notice', 'https://www.gov.uk/gaining-possession-of-a-privately-rented-property-let-on-an-assured-shorthold-tenancy#seeking-possession-under-section-21', :class => 'external', :rel => 'external', :id => 'notice-to-leave'} to leave the property
    %li you put any deposit received in a government-backed tenancy deposit protection scheme (only if the property was let on or after 6th April 2007)

  %p You can find out more about #{link_to 'evicting tenants', 'https://www.gov.uk/evicting-tenants', :class => 'external', :rel => 'external', :id => 'pcol'} and regaining possession of a property if making an accelerated claim is not appropriate to your situation.

  .action-buttons.cf
    = link_to 'Start now', new_path, class: 'button primary large chevron left'

  %p= "<strong>Do you qualify for legal aid?</strong>".html_safe

  %p You may qualify for legal aid. Visit #{link_to 'www.gov.uk/legal-aid', 'https://www.gov.uk/legal-aid', :class => 'external', :rel => 'external', :id => 'legal-aid'} for more information or a citizens advice bureau at #{link_to 'www.adviceguide.org.uk', 'http://www.adviceguide.org.uk', :class => 'external', :rel => 'external', :id => 'advice-guide'}

  %p= "<strong>What happens next</strong>".html_safe

  %ul
    %li complete the form online
    %li print the form out
    %li complete and sign the statement of truth on page 4 of the form
    %li send it to the court along with copies of required documents, eg the tenancy agreement
    %li pay the £175 court fee to start the claim.
