= render partial: 'shared/header_message'
= render partial: 'shared/flash'
= render partial: 'shared/error_messages'

#activateModalSessionTimer

= form_for @claim, url: submission_path, :html => { :method => :post, :id => 'claimForm' }, builder: LabellingFormBuilder do |claim_form|

  = claim_form.hidden_field(:form_state, id: 'js-state')

  %section
    %h2.section-header Property
    .moj-panel
      = render partial: 'property', object: @claim.property, locals: { claim_form: claim_form }

  %section
    %h2.section-header Claimants

    .moj-panel.has-multiple#claimants(data-multiple="claimant" data-single="claimant" data-plural="claimants" data-caption="As the landlord, you're known as the <strong>claimant</strong> in this case.")

      .row
        As the landlord, you’re known as the <b>claimant</b> in this case.

      = claim_form.radio_button_fieldset :claimant_type,
        'What kind of claimant are you?'.html_safe,
        class: 'radio js-depend',
        choice: {'A private landlord (individual)' => 'individual', 'A private landlord (company), a local authority or a housing association' => 'organization'},
        data: { depend: 'claimanttype', 'virtual-pageview' => '/accelerated/claimants-section' }

      = claim_form.radio_button_fieldset :num_claimants,
          'How many claimants are there?'.html_safe,
          class: 'hide js-claimanttype individual radio inline multiple',
          choice: {'1 claimant'=>'1', '2 claimants'=>'2'},
          data: { depend: 'numclaimants' }


      .sub-panel.hide.js-numclaimants.1.2.claimant.js-claimanttype.organization#claimant_one
        %h3.person.hide.js-claimanttype.individual First claimant
        = render partial: 'claimant', object: @claim.claimant_one, locals: { claim_form: claim_form, claimant_field: :claimant_one}
        .row.divider
      .sub-panel.hide.js-claimanttype.inidvidual.js-numclaimants.2.claimant.same-address#claimant_two
        %h3.person
          Second claimant
          %span.hint.block.hide (optional)
        = render partial: 'claimant', object: @claim.claimant_two, locals: { claim_form: claim_form, claimant_field: :claimant_two}
        .row.divider

      = render partial: 'claimant_contact', object: @claim.claimant_contact, locals: { claim_form: claim_form, claimant_field: :claimant_contact}


  %section
    %h2.section-header Defendants
    .moj-panel.has-multiple#defendants(data-multiple="defendant" data-single="defendant" data-plural="defendants" data-caption="Your tenants are known as <strong>defendants</strong> in this case.")

      .row
        Your tenants are known as <b>defendants</b> in this case.

      = claim_form.radio_button_fieldset :num_defendants,
          'How many defendants are there?',
          class: 'radio inline multiple',
          choice: {'1 defendant'=>'1', '2 defendants'=>'2'},
          data: { depend: 'numdefendants', 'virtual-pageview' => '/accelerated/defendants-section' }

      .sub-panel.hide.js-numdefendants.1.2.defendant#defendant_one
        %h3.person First defendant
        = render partial: 'defendant', object: @claim.defendant_one, locals: { claim_form: claim_form, defendant_field: :defendant_one}

      .row.divider
      .sub-panel.hide.js-numdefendants.2.defendant#defendant_two
        %h3.person
          Second defendant
          %span.hint.block.hide (optional)
        = render partial: 'defendant', object: @claim.defendant_two, locals: { claim_form: claim_form, defendant_field: :defendant_two}

  %section
    %h2.section-header Notice
    .moj-panel#notice-module
      = render partial: 'notice', object: @claim.notice, locals: { claim_form: claim_form }

  %section
    %h2.section-header Tenancy agreement
    .moj-panel
      = render partial: 'tenancy', object: @claim.tenancy, locals: { claim_form: claim_form }

  %section
    %h2.section-header Licences
    .moj-panel
      = render partial: 'license', object: @claim.license, locals: { claim_form: claim_form }

  %section
    %h2.section-header Deposit
    .moj-panel#deposit-module
      = render partial: 'deposit', object: @claim.deposit, locals: { claim_form: claim_form }

  %section
    %h2.section-header The court order
    .moj-panel
      = render partial: 'order', object: @claim.order, locals: { claim_form: claim_form }
      = render partial: 'possession', object: @claim.possession, locals: { claim_form: claim_form }
      = render partial: 'fee', object: @claim.fee, locals: { claim_form: claim_form }
      = render partial: 'legal_cost', object: @claim.legal_cost, locals: { claim_form: claim_form }

  %section
    .action-buttons.cf
      %input.button.primary.large.chevron.left#submit{name: 'Continue', value: 'Continue', type: 'submit'}

  %section
    %p
      = link_to 'Terms and conditions and privacy policy', :terms, class: 't-n-c'

/ handlebars templates

= render :partial => 'shared/hbtemplates'
