= render partial: 'shared/header_message'

= render partial: 'shared/error_messages'

= form_for :claim, url: submission_path, :html => { :method => :post } do |claim_form|
  %section
    %span.right
      %span.req> *
      required
    %h3.section-header Property
    .moj-panel
      = claim_form.fields_for @claim.property do |address_form|
        .row.street{ class: ('error' if @claim.property.errors.messages.key? :street)}
          = address_form.label :street, 'Street<span class="req">*</span>'.html_safe
          = address_form.text_area :street
        .row.rel.town{ class: ('error' if @claim.property.errors.messages.key? :town)}
          = address_form.label :town
          = address_form.text_field :town
        .row.rel.postcode{ class: ('error' if @claim.property.errors.messages.key? :postcode)}
          = address_form.label :postcode, 'Postcode<span class="req">*</span>'.html_safe
          = address_form.text_field :postcode, :class => 'smalltext'
        %fieldset.striped-choice{ class: ("error" if @claim.property.errors.messages.key? :house) }
          %legend
            Type of property
            %span.req> *
            - if(@claim.property.errors.messages.key? :house)
              %span.error= @claim.property.errors.messages[:house][0]

          .options
            - {'A house' => 'Yes', 'Part of a house' => 'No'}.each do |key,val|
              .row
                = address_form.radio_button(:house, val)
                = address_form.label :house, key, :value => val


  %section
    %h3.section-header Claimants
    .moj-panel
      = claim_form.fields_for :claimant_one, @claim.claimant_one do |claimant_one_form|
        .sub-panel.claimant
          %h4 Claimant 1
          .row
            = claimant_one_form.label :company, 'Full name<span class="req">*</span>'.html_safe
            = claimant_one_form.text_field :company
          .row.rel.street
            = claimant_one_form.label :street, 'Street<span class="req">*</span>'.html_safe
            = claimant_one_form.text_area :street
          .row.rel.town
            = claimant_one_form.label :town
            = claimant_one_form.text_field :town
          .row.rel.postcode
            = claimant_one_form.label :postcode, 'Postcode<span class="req">*</span>'.html_safe
            = claimant_one_form.text_field :postcode, :class => 'smalltext'

      .row.divider

      .sub-panel.claimant
        %h4.section-header Claimant 2
        = claim_form.fields_for :claimant_two, @claim.claimant_two do |claimant_two_form|
          .row
            = claimant_two_form.label :company, 'Full name<span class="req">*</span>'.html_safe
            = claimant_two_form.text_field :company
          .row.rel.street
            = claimant_two_form.label :street, 'Street<span class="req">*</span>'.html_safe
            = claimant_two_form.text_area :street
          .row.rel.town
            = claimant_two_form.label :town
            = claimant_two_form.text_field :town
          .row.rel.postcode
            = claimant_two_form.label :postcode, 'Postcode<span class="req">*</span>'.html_safe
            = claimant_two_form.text_field :postcode, :class => 'smalltext'

  %section
    %h3.section-header Defendants
    .moj-panel
      = claim_form.fields_for :defendant_one, @claim.defendant_one do |defendant_form|
        .sub-panel.defendant
          %h4 Defendant 1
          .row
            = defendant_form.label :title, 'Title<span class="req">*</span>'.html_safe
            = defendant_form.text_field :title, :class => 'smalltext'
          .row.rel
            = defendant_form.label :full_name, 'Full name<span class="req">*</span>'.html_safe
            = defendant_form.text_field :full_name
          .row.full
            If the defendant is living somewhere else, give the address below
          .row.rel.street
            = defendant_form.label :street
            = defendant_form.text_area :street
          .row.rel.town
            = defendant_form.label :town
            = defendant_form.text_field :town
          .row.rel.postcode
            = defendant_form.label :postcode
            = defendant_form.text_field :postcode, :class => 'smalltext'

      .row.divider

      = claim_form.fields_for :defendant_two, @claim.defendant_two  do |defendant_form|
        .sub-panel.defendant
          %h4 Defendant 2
          .row
            = defendant_form.label :title, 'Title<span class="req">*</span>'.html_safe
            = defendant_form.text_field :title, :class => 'smalltext'
          .row.rel
            = defendant_form.label :full_name, 'Full name<span class="req">*</span>'.html_safe
            = defendant_form.text_field :full_name
          .row.full
            If the defendant is living somewhere else, give the address below
          .row.rel.street
            = defendant_form.label :street
            = defendant_form.text_area :street
          .row.rel.town
            = defendant_form.label :town
            = defendant_form.text_field :town
          .row.rel.postcode
            = defendant_form.label :postcode
            = defendant_form.text_field :postcode, :class => 'smalltext'

  %section
    %h3.section-header Tenancy
    .moj-panel
      = claim_form.fields_for @claim.tenancy do |tenancy_form|
        %fieldset.date-picker
          %legend
            Tenancy start date
            %span.req> *
          .row
            = tenancy_form.date_select(:start_date, @date_select_options)
        .row.full
          = 'If there has been <strong>multiple tenancy agreements</strong> please give details below.'.html_safe
        .sub-panel.extra.rel
          %fieldset.date-picker.full
            %legend
              Date of the most recent tenancy agreement
            .row
              = tenancy_form.date_select(:latest_agreement_date, @date_select_options)
          %div{ style: "padding:0 30px 20px 30px" }
            Whenever a new tenancy agreement has replaced the first tenancy agreement or has replaced a replacement tenancy agreement:
          %fieldset.striped-choice.full
            %legend
              Has it been for the same property?
            .options
              - ['Yes', 'no'].each do |choice|
                .row
                  = tenancy_form.radio_button(:agreement_reissued_for_same_property, choice)
                  = tenancy_form.label :agreement_reissued_for_same_property, choice.humanize, :value => choice
          %fieldset.striped-choice.full
            %legend
              Has it been the same landlord and tenant?
            .options
              - ['Yes', 'no'].each do |choice|
                .row
                  = tenancy_form.radio_button(:agreement_reissued_for_same_landlord_and_tenant, choice)
                  = tenancy_form.label :agreement_reissued_for_same_landlord_and_tenant, choice.humanize, :value => choice

  %section
    %h3.section-header Notice
    .moj-panel
      = claim_form.fields_for @claim.notice do |notice_form|
        .row
          = notice_form.label :served_by, 'Notice served by<span class="req">*</span>'.html_safe
          = notice_form.text_field :served_by
        %fieldset.date-picker
          %legend
            Date notice served
            %span.req> *
          .row
            = notice_form.date_select(:date_served, @date_select_options)
        %fieldset.date-picker
          %legend
            Date notice expired
            %span.req> *
          .row
            = notice_form.date_select(:expiry_date, @date_select_options)

  %section
    %h3.section-header Licences
    .moj-panel
      = claim_form.fields_for @claim.license do |license_form|
        %fieldset.striped-choice.full
          %legend
            Is the property part of a house in multiple occupation?
            %span.req> *
          .options
            - ['Yes', 'No'].each do |hmo_choice|
              .row
                = license_form.radio_button(:hmo, hmo_choice)
                = license_form.label :hmo, hmo_choice.humanize, :value => hmo_choice
        .sub-panel.extra.rel
          .row.full
            = license_form.label :authority, 'If <strong>Yes</strong>, name of authority who issued the license'.html_safe
            = license_form.text_field :authority
          %fieldset.date-picker.rel.full
            %legend Date licence was issued
            .row
              = license_form.date_select(:hmo_date, @date_select_options)
        %fieldset.striped-choice.full
          %legend
            Is the property required to be licensed under Part 3 of the Housing Act 2004?
            %span.req> *
          .options
            - ['Yes', 'No'].each do |housing_act_choice|
              .row
                = license_form.radio_button(:housing_act, housing_act_choice)
                = license_form.label :housing_act, housing_act_choice.humanize, :value => housing_act_choice
        .sub-panel.extra.rel
          .row.full
            = license_form.label :housing_act_authority, 'If <strong>Yes</strong>, name of authority who issued the license'.html_safe
            = license_form.text_field :housing_act_authority
          %fieldset.date-picker.rel.full
            %legend Date license was issued
            .row
              = license_form.date_select(:housing_act_date, @date_select_options)

  %section
    %h3.section-header Deposit
    .moj-panel
      = claim_form.fields_for @claim.deposit do |deposit_form|
        %fieldset.striped-choice.full
          %legend
            Was a money deposit received on or after 6 April 2007?
            %span.req> *
          .options
            - ['Yes', 'No'].each do |received_choice|
              .row
                = deposit_form.radio_button(:received, received_choice)
                = deposit_form.label :received, received_choice.humanize, :value => received_choice
        .sub-panel.extra.rel
          .row.full
            = deposit_form.label :ref_number, 'If <strong>Yes</strong>, provide the Tenancy Deposit Scheme reference number'.html_safe
            = deposit_form.text_field :ref_number
        %fieldset.striped-choice.full
          %legend
            Did you receive deposit in the form of property on or after 6 April 2007?
            %span.req> *
          .options
            - ['Yes', 'No'].each do |property_choice|
              .row
                = deposit_form.radio_button(:as_property, property_choice)
                = deposit_form.label :as_property, property_choice.humanize, :value => property_choice

  %section
    %h3.section-header Postponement of possession
    .moj-panel
      = claim_form.fields_for @claim.possession do |possession_form|
        %fieldset.striped-choice.full
          %legend
            If the defendant(s) seek(s) postponement of possession on the grounds of exceptional hardship, are you content that the request be considered without a hearing?
            %span.req> *
          .options
            - ['Yes', 'No'].each do |hearing_type|
              .row
                = possession_form.radio_button(:hearing, hearing_type)
                = possession_form.label :hearing, hearing_type.humanize, :value => hearing_type

  %section
    %h3.section-header The order
    .moj-panel
      = claim_form.fields_for @claim.order do |order_form|
        %fieldset.striped-choice.full
          %legend
            You are asking the court to order that the defendant(s)
            %span.req> *
          .options
            .row
              = order_form.check_box :possession, {}, "Yes", "No"
              = order_form.label :possession, 'deliver up possession of the property'
            .row
              = order_form.check_box :cost, {}, "Yes", "No"
              = order_form.label :cost, 'to pay the cost of the claim'

  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left{name: 'Complete form', value: ''} Complete form
