%h1 Start an accelerated property possession case

= form_for :claim, url: submission_path, :html => { :method => :post } do |claim_form|
  = claim_form.fields_for @property do |address_form|
    %span Street
    = address_form.text_field :street
    %span Town
    = address_form.text_field :town
    %span Postcode
    = address_form.text_field :postcode
    %span Property type
    - ['A house', 'Part of a house'].each do |property_type|
      %label
        = address_form.radio_button(:house, property_type)
        = property_type.humanize

  = claim_form.fields_for @landlord do |landlord_form|
    %span Company
    = landlord_form.text_field :company
    %span Street
    = landlord_form.text_field :street
    %span Town
    = landlord_form.text_field :town
    %span Postcode
    = landlord_form.text_field :postcode

  = claim_form.fields_for :tenant_one do |tenant_form|
    %span Title
    = tenant_form.text_field :title
    %span Full Name
    = tenant_form.text_field :full_name
    %span Street
    = tenant_form.text_field :street
    %span Town
    = tenant_form.text_field :town
    %span Postcode
    = tenant_form.text_field :postcode

  = claim_form.fields_for :tenant_two do |tenant_form|
    %span Title
    = tenant_form.text_field :title
    %span Full Name
    = tenant_form.text_field :full_name
    %span Street
    = tenant_form.text_field :street
    %span Town
    = tenant_form.text_field :town
    %span Postcode
    = tenant_form.text_field :postcode

  = claim_form.fields_for @demoted_tenancy do |demoted_tenancy_form|
    %span Previous tenancy before demotion
    - ['assured', 'secure'].each do |tenancy_type|
      %label
        = demoted_tenancy_form.radio_button(:assured, tenancy_type)
        = tenancy_type.humanize
    %span When demotion was made
    = date_select(:demotion_order_date, :order => [:day, :month, :year])
    %span County Court where order was made
    = demoted_tenancy_form.text_field :county_court

  = claim_form.fields_for @notice do |notice_form|
    %span Notice served by
    = notice_form.text_field :served_by
    %span Date notice served
    = date_select(:date_served, :order => [:day, :month, :year])
    %span Date notice expired
    = date_select(:expiry_date, :order => [:day, :month, :year])

  = claim_form.fields_for @defendant do |defendant_form|
    %span If the defendant(s) seek(s) postponment of possesion on the grounds of exceptional hardship, are you content that the request be considered without a hearing?
    - ['yes', 'no'].each do |hearing_type|
      %label
        = defendant_form.radio_button(:hearing, hearing_type)
        = hearing_type.humanize

  = claim_form.fields_for @order do |order_form|
    %span You are asking the court to order that the defendant(s)
    = check_box_tag :possesion
    %span deliver up possesion of the property
    = check_box_tag :cost
    %span to pay the cost of the claim

  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left{name: 'Complete form', value: ''} Complete form
