= render partial: 'shared/header_message'
= render partial: 'shared/flash'
= render partial: 'shared/error_messages'

= form_for :claim, url: submission_path, :html => { :method => :post, :id => 'claimForm' } do |claim_form|

  = claim_form.hidden_field(:form_state, id: 'js-state')

  %section
    %h3.section-header Property
    .moj-panel
      = render partial: 'property', object: @claim.property, locals: { claim_form: claim_form }

  %section
    %h3.section-header Claimants (landlords)
    .moj-panel.has-multiple#claimants(data-multiple="claimant" data-caption="As the landlord, you're known as the claimant in this case. How many claimants are there?" data-single="claimant" data-plural="claimants")
      .sub-panel.claimant#claimant_one
        %h4 First claimant
        = render partial: 'claimant', object: @claim.claimant_one, locals: { claim_form: claim_form, claimant_field: :claimant_one}
      .row.divider
      .sub-panel.claimant.same-address#claimant_two
        %h4 Second claimant
        = render partial: 'claimant', object: @claim.claimant_two, locals: { claim_form: claim_form, claimant_field: :claimant_two}
      .row.divider
      = render partial: 'claimant_contact', object: @claim.claimant_contact, locals: { claim_form: claim_form, claimant_field: :claimant_contact}

  %section
    %h3.section-header Defendants (tenants)
    .moj-panel.has-multiple#defendants(data-multiple="defendant" data-caption="Your tenants are known as defendants in this case. How many defendants are there?" data-single="defendant" data-plural="defendants")
      .sub-panel.defendant#defendant_one
        %h4 First defendant
        = render partial: 'defendant', object: @claim.defendant_one, locals: { claim_form: claim_form, defendant_field: :defendant_one}

      .row.divider

      .sub-panel.rel.defendant#defendant_two
        %h4 Second defendant
        = render partial: 'defendant', object: @claim.defendant_two, locals: { claim_form: claim_form, defendant_field: :defendant_two}

  %section
    %h3.section-header Tenancy agreement
    .moj-panel
      = render partial: 'tenancy', object: @claim.tenancy, locals: { claim_form: claim_form }

  %section
    %h3.section-header Notice
    .moj-panel
      = render partial: 'notice', object: @claim.notice, locals: { claim_form: claim_form }

  %section
    %h3.section-header Licences
    .moj-panel
      = render partial: 'license', object: @claim.license, locals: { claim_form: claim_form }

  %section
    %h3.section-header Deposit
    .moj-panel
      = render partial: 'deposit', object: @claim.deposit, locals: { claim_form: claim_form }

  %section
    %h3.section-header The court order
    .moj-panel
      = render partial: 'order', object: @claim.order, locals: { claim_form: claim_form }
      = render partial: 'possession', object: @claim.possession, locals: { claim_form: claim_form }
      = render partial: 'fee', object: @claim.fee, locals: { claim_form: claim_form }
      = render partial: 'legal_cost', object: @claim.legal_cost, locals: { claim_form: claim_form }
      = render partial: 'reference_number', object: @claim.reference_number, locals: { claim_form: claim_form }

  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left#submit{name: 'Complete form', value: '', type: 'submit'} Complete form

  %section
    %p
      = link_to 'terms and conditions / privacy policy', terms 


/ handlebars templates

= render :partial => 'shared/hbtemplates'
