
.postcode.postcode-picker-container
  .postcode-lookup.rel.js-only

    .postcode-display.hide{style: "margin-bottom: 20px;"}
      Postcode: 
      %span.postcode-display-detail{style: "font-weight: bold"}
        &nbsp;
      %span
        %a.change-postcode-link2.js-only{id: "#{@prefix}-manual_change-link-2", href: "#dummy_anchor", style: "display: inline; margin-left: 10px;"} Change                       


    .postcode-selection-els

      %label.postcode-picker-label{:for => "#{@prefix}_#{@postcode_attr}_edit_field"} Postcode

      

      %input.smalltext.postcode-picker-edit-field{:maxlength => "8",
              :id => "#{@prefix}_#{@postcode_attr}_edit_field",
              :name => "#{@name_prefix}[#{@postcode_attr}]",   
              :size => "8",
              :type => "text"}

      %a.button.primary.postcode-picker-button{:href => "##{@prefix}_postcode_picker",
          :name => "FindUkPostcode"}
        Find UK Address

    .postcode-picker-hourglass.hide
      Finding address....

    .postcode-select-container.sub-panel.hide{style: "margin-top: 0px;"}
      %fieldset.postcode-picker-address-list
        %label.hint{ for: "#{@prefix}_address_select"} Please select an address
        %select.address-picker-select{id: "#{@prefix}_address_select", name: "sel-address", size: "6", width: "50"}
          %option#listbox-0{role: "option", disabled: "disabled", :value => ""} Please select an address
        %a.button.primary.postcode-picker-cta{id: "#{@prefix}_selectaddress", name: "SelectAddress", href: "##{@prefix}_postcode_picker_manual_link", style: "margin-bottom: 20px;"}
          Select Address
    
  .js-only
    %a.caption.postcode-picker-manual-link{ href: "##{@prefix}_postcode_picker_manual_link", id: "#{@prefix}_postcode_picker_manual_link", style: "margin-top: 20px;"}
      I want to add an address myself


  .address.extra.no.sub-panel.hide{style: "margin-top: 10px;"}

    .row.street
      %label{:for => "#{@prefix}_#{@address_attr}"} Full address
      %textarea.street{id: "#{@prefix}_#{@address_attr}", :maxlength => "70", :name => "#{@name}[street]"}
        = "#{@address_value}"

    .row.js-only
      %span.error.hide{id: "#{@prefix}_#{@address_attr}-error-message"}
        The address can’t be longer than 4 lines.
      

    - options = @form.object.errors[:postcode].any? ? {id: 'claim_property_postcode_error', class: 'error'} : {}

    .row.address-postcode{options}
      %label{:for => "#{@prefix}_#{@postcode_attr}"} 
        Postcode
        - unless @form.object.errors[:postcode].empty?
          %span.error Enter the postcode
      %br
      %div{style: "overflow: hidden; width: 100%"}
        %input.smalltext.postcode{:id => "#{@prefix}_#{@postcode_attr}", :maxlength => "8", :name => "#{@name}[#{@postcode_attr}]", value: "#{@postcode_value}", :size => "8", :type => "text", style: 'float: left;  margin-right: 20px;'}
        %a.change-postcode-link.js-only{href: "#dummy_anchor", style: 'float: left;'} Change 