
.row.postcode.postcode-picker-container
  .postcode-lookup.rel.js-only

    .postcode-selection-els

      %label.postcode-picker-label{:for => "#{@prefix}_#{@postcode_attr}_edit_field"} Postcode

      %input.smalltext.postcode-picker-edit-field{:maxlength => "8",
              :id => "#{@prefix}_#{@postcode_attr}_edit_field",
              :name => "#{@name_prefix}[#{@postcode_attr}]",   
              :size => "8",
              :type => "text"}

      %a.button.primary.postcode-picker-button{:href => "##{@prefix}_postcode_picker",
          :name => "FindUkPostcode"}
        Find UK Postcode

    .postcode-picker-hourglass.hide
      Finding address....

    .postcode-select-container.sub-panel.hide
      %fieldset.postcode-picker-address-list
        %label.hint{ for: "#{@prefix}_address_select"} Please select an address
        %select.address-picker-select{id: "#{@prefix}_address_select", name: "sel-address", size: "6", width: "50"}
          %option#listbox-0{role: "option", disabled: "disabled", :value => ""} Please select an address
        %a.button.primary.postcode-picker-cta{id: "#{@prefix}_selectaddress", name: "SelectAddress", href: "#claim_property_postcode_picker_manual_link"}
          Select Address
    .js-only
      %a.caption.postcode-picker-manual-link{ href: "##{@prefix}_postcode_picker_manual_link", id: "#{@prefix}_postcode_picker_manual_link" }
        I want to add an address myself


  .address.extra.no.sub-panel.hide

    .row.rel.street
      %label{:for => "#{@prefix}_#{@address_attr}"} Full address
      %textarea.street{id: "#{@prefix}_#{@address_attr}", :maxlength => "70", :name => "claim[property][street]"}
    .row.js-only
      %span.error.hide{id: "#{@prefix}_#{@address_attr}-error-message"}
        The address can’t be longer than 4 lines.
      
    .postcode
      %label{:for => "#{@prefix}_#{@postcode_attr}"} Postcode
      %div{style: "overflow: hidden; width: 100%"}
        %input.smalltext.postcode{:id => "#{@prefix}_#{@postcode_attr}", :maxlength => "8", :name => "#{@name_prefix}[#{@postcode_attr}]", :size => "8", :type => "text", style: 'float: left;  margin-right: 20px;'}
        %a.change-postcode-link.js-only{href: "##{@prefix}_postcode_picker_manual_link", style: 'float: left;'} Change 