
= form_for @feedback, url: feedback_path, html: { novalidate: 'novalidate' }, builder: LabellingFormBuilder do |f|
  %input{name: 'feedback[user_agent]', type: 'hidden', value: request.headers['HTTP_USER_AGENT']}

  %section
    = f.text_area_row :difficulty_feedback, label: 'Did you have any difficulty with this service?'

    = f.text_area_row :improvement_feedback, label: 'Do you have any ideas for how it could be improved?'
    %p
      Please don't include any personal or financial details
      %span.hint For example, your National Insurance or credit card numbers.

    = f.radio_button_fieldset :satisfaction_feedback,
      'Overall, how did you feel about the service you received today?',
      class: 'radio',
      choice: [ 'very_satisfied',
        'satisfied',
        'neither_satisfied_or_dissatisfied',
        'dissatisfied',
        'very_dissatisfied' ]

    = f.radio_button_fieldset :help_feedback,
      'Did you have any help filling in this form?',
      class: 'radio',
      choice: [ 'filled_in_myself',
         'filled_in_for_me',
         'used_accessibility_tool',
         'other_help' ]
    = f.text_field :other_help

    %h3 Tell us what you think of new designs
    %p
      Please enter your email address if you're interested in taking part in our
      user testing and giving feedback on some new designs.
      We won't use your email address for anything else.

    .sub-panel
      = f.text_field_row :email, label: 'Your email address', class: 'rel'

    = f.submit 'Send feedback', class: 'button primary', id: 'send-feedback'
