
- content_for :page_title do
  = "#{@page_title} - #{Rails.configuration.app_title}"

- content_for :stylesheets do
  = stylesheet_link_tag "application", media: "all"
  :erb
    <!--[if IE 7]> <%= stylesheet_link_tag "ie7", media: "all" %> <![endif]-->

- content_for :javascripts do
  :erb
    <!--[if gte IE 8]><!--> <%= javascript_include_tag "application" %> <!--<![endif]-->
  - if Rails.env.test?
    = javascript_include_tag "no_moj_logging.js"

- content_for :head do
  = csrf_meta_tag

- content_for :cookie_message do
  %p GOV.UK uses cookies to make the site simpler. #{link_to 'Find out more about cookies', '/cookies'}

= render template: "layouts/moj_template"
