- content_for :page_title do
  = "#{@page_title} - #{Rails.configuration.app_title}"

- content_for :stylesheets do
  = stylesheet_link_tag "application", media: "all"
  :erb
    <!--[if IE 7]> <%= stylesheet_link_tag "ie7", media: "all" %> <![endif]-->


- content_for :head do
  = csrf_meta_tag

- content_for :cookie_message do
  %p GOV.UK uses cookies to make the site simpler. #{link_to 'Find out more about cookies', controller: :static, action: :cookies}

= render template: "layouts/moj_template"
