- content_for :page_title do
  = "#{@page_title} - #{Rails.configuration.app_title}"

- content_for :stylesheets do
  = stylesheet_link_tag "application", media: "all"
  :erb
    <!--[if IE 6]> <%= stylesheet_link_tag "ie6", media: "all" %> <![endif]-->
    <!--[if IE 7]> <%= stylesheet_link_tag "ie7", media: "all" %> <![endif]-->
    <!--[if IE 8]> <%= stylesheet_link_tag "ie8", media: "all" %> <![endif]-->

- content_for :javascripts do
  :erb
    <!--[if gte IE 7]><!--> <%= javascript_include_tag "application" %> <!--<![endif]-->

- content_for :head do
  = csrf_meta_tag
  = render partial: 'shared/analytics'

- content_for :cookie_message, ""

- content_for :content do
  .phase-banner
    %p 
      %span This is a new service - #{link_to "your feedback", config_item(:feedback_url)} will help us to improve it
  =yield

- content_for :proposition_links do
  %ul#proposition-links
    %li= link_to 'Technical help', technical_help_path
    %li= link_to 'Feedback', Rails.configuration.feedback_url

- content_for :footer_app_links do
  %ul
    %li= link_to 'Help', :help
    %li= link_to 'Cookies', :cookies

= render template: "layouts/moj_template"
